<div class="users">
	<% @users.each do |user| %>
		<div class="user">
			<h5><%= user.first_name %> <%= user.last_name %></h5>
			<p><%= user.email %></p>
			<a href="/view_user/<%= user.id %>">View User's Profile</a>
		</div>
	<% end %>
</div>
