<div class="jumbotron">
  <h1 class="display-4">Eats and Shits</h1>
  <p class="lead">We've got plenty of restaurants and their bathrooms to choose from! And if you've been write a review!</p>
  <hr class="my-4">
</div>

<div class="container restaurantdrop">
	<div class="row">
		<div class="col- restaurantgrid"><img class="restaurantround" src="https://dummyimage.com/300x300/000/fff"></div>
		<div class="col- restaurantgrid"><img class="restaurantround" src="https://dummyimage.com/300x300/000/fff"></div>
		<div class="col- restaurantgrid"><img class="restaurantround" src="https://dummyimage.com/300x300/000/fff"></div>
	</div>
	<div class="row offset-sm-1">
		<div class="col- restaurantgrid"><img class="restaurantround" src="https://dummyimage.com/300x300/000/fff"></div>
		<div class="col- restaurantgrid"><img class="restaurantround" src="https://dummyimage.com/300x300/000/fff"></div>
		<div class="col- restaurantgrid"><img class="restaurantround" src="https://dummyimage.com/300x300/000/fff"></div>
	</div>
	<div class="row">
		<div class="col- restaurantgrid"><img class="restaurantround" src="https://dummyimage.com/300x300/000/fff"></div>
		<div class="col- restaurantgrid"><img class="restaurantround" src="https://dummyimage.com/300x300/000/fff"></div>
		<div class="col- restaurantgrid"><img class="restaurantround" src="https://dummyimage.com/300x300/000/fff"></div>
	</div>
	<div class="row offset-sm-1">
		<div class="col- restaurantgrid"><img class="restaurantround" src="https://dummyimage.com/300x300/000/fff"></div>
		<div class="col- restaurantgrid"><img class="restaurantround" src="https://dummyimage.com/300x300/000/fff"></div>
		<div class="col- restaurantgrid"><img class="restaurantround" src="https://dummyimage.com/300x300/000/fff"></div>
	</div>
	<div class="row">
		<div class="col- restaurantgrid"><img class="restaurantround" src="https://dummyimage.com/300x300/000/fff"></div>
		<div class="col- restaurantgrid"><img class="restaurantround" src="https://dummyimage.com/300x300/000/fff"></div>
		<div class="col- restaurantgrid"><img class="restaurantround" src="https://dummyimage.com/300x300/000/fff"></div>
	</div>
</div>