<div class="jumbotron">
  <h1 class="display-4">The Eats and The Shits</h1>
  <p class="lead">We've got plenty of restaurants and their bathrooms to choose from! And if you've been write a review!</p>
  <hr class="my-4">
</div>

<div class="container">
	<div class="row">
		<% @restaurants.each_with_index do |restaurant,i| %>
			<div class="col-3 <%= 'offset-1' if i%3 == 0 && i%2 != 0 %> restaurantgrid">
				<a href="/restaurant_profile/<%= restaurant.id %>">
					<img class="restaurantround imageSize" src="/images/<%= restaurant.img_url %>">
				</a>
			</div>
		<% end %>
	</div>
</div>