<div class="jumbotron">
  <h1 class="display-4">The Eats and The Shits</h1>
  <p class="lead">We've got plenty of restaurants and their bathrooms to choose from! And if you've been write a review!</p>
  <hr class="my-4">
</div>