<div class="row centersignin">
  <div class="col-6 offset-3">
    <form method="POST" action="/sign-in" class="formbackground">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" name="user[email]" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="user[password]" class="form-control" id="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>