<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">HELLO, <%= @first_name %></h1>
    <p class="lead">Let's get started</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/profile_pictures.gif" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> <%= @first_name %> <%= @last_name %> </h5>
    <p class="card-text"> <%= @email %> </p>
    <a href="#" class="btn btn-primary"><button type="button" class="btn btn-outline-primary">Update Profile</button></a>
  </div>
</div>