<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">HELLO, <%= @user.first_name %></h1>
    <p class="lead">Let's get started</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/profile_picture_two.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> <%= @user.first_name %> <%= @user.last_name %> </h5>
    <p class="card-text"> <%= @user.email %> </p>
    <p class="card-text"> WELCOME! </p>
    <a href="/update_profile" class="btn btn-primary">Update Profile</a>
    <a href="/destroy" class="btn btn-secondary">Delete Profile</a>
  </div>
</div>

<div class="favorites"></div>