html, body {
	height: 100%;
	background: #ADA996;
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
}

.signinbackground {
	background-image: url(/images/brightparis.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.signupbackground {
	background-image: url(/images/paris.jpg);
}

.centersignin {
	position: relative;
	top: 30%;
}

.centersignup {
	position: relative;
	top: 15%;
}

.formbackground {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 25px;
	border-radius: 7px;
}

form label {
	color: white;
}

.restaurantgrid {
	margin: 10px;
}

.restaurantround {
	border-radius: 7px;
}

.restaurantdrop {
	margin-top: 50px;
}

/*home-page*/
.jumbotron {
/*	display: inline-block;*/
	background-color: inherit;
}
.images{
	position: absolute;
	padding: 0px;
	margin: 0px;
	border: 0px;
	left: 16%;
	top: 94%;
}
.img1 {
	width: 400px;
  height: auto;
  margin: 2px;
  position: relative;
  display: inline-block;
}

footer{
	position: absolute;
  top: 215%;
  left: 40%;
  display: inline-block;
}
/*end homepage*/

.aboutbackground {
	background-image: url(/images/chefs_table.jpg);
}

.carousel {
	width: 900px;
	height: auto;
}