html, body {
	min-height: 100%;
	min-width: 100%;
	color: white;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
.normalbackground{
	background: #5f2c82;
  background: -webkit-linear-gradient(to top, #49a09d, #5f2c82);
  background: linear-gradient(to top, #49a09d, #5f2c82);
  background-repeat: no-repeat;
	background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.signinbackground {
	background-image: url(/images/brightparis.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.signupbackground {
	background-image: url(/images/paris.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.centersignin {
	position: relative;
	top: 30%;
}

.centersignup {
	position: relative;
	top: 15%;
}

.formbackground {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 25px;
	border-radius: 7px;
}

form label {
	color: white;
}

.restaurantgrid {
	margin-bottom: 10px;
}

.restaurantround {
	border-radius: 7px;
}

.restaurantdrop {
	margin-top: 50px;
}

/*home-page*/
.jumbotron {
	background-color: inherit;
	text-align: center;
	/*color: white;*/
}

.img1 {
	width: 100%;
  height: auto;
  margin: 2px;
}
.img2 {
	width: 100%;
  height: 100%;
  margin: 2px;
}

/*footer{
	position: absolute;
  top: 215%;
  left: 40%;
  display: inline-block;
}*/

.description{
	font-weight: 500;
	text-align: center;
}
/*end homepage*/

/*.aboutbackground {
	background-image: url(/images/chefs_table_one.jpeg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}*/

.aboutcarousel {
	width: auto;
	height: 500px;
}
.aboutcarousel img {
	width: auto;
	height: 700px;
}

.imageSize {
	height: 100%;
	width: 100%;
	min-height: 195px;
}

.user{
	border: 4px solid black;
	text-align: center;
	height: auto;
	width: auto;
	margin: 10px;
	/*color: black;*/
	text-transform: uppercase;
	transition: 2s ease;
}

.user:hover {
	background: #CC95C0;
	background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
	background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
}

.fullname {
	text-transform: uppercase;	
}


.posts {
	background-color: rgba(0, 0, 0, 0.3);
	height: 300px;
	width: auto;
	margin: 5px;
	text-align: center;
}

.commentCenter {
	text-align: center;
	color: black;
}

.modelColor {
	color: black;
}

.commentLength {
	height: 600px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 7px;
	margin-bottom: 20px;
}

.comments {
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	margin: 10px;
	border-radius: 7px;
}

.top {
	width: 100%;
	margin: 4px;
}

.info {
	text-align: center;
}

.latest_post {
	border: 3px solid black;
	text-align: center;
	height: auto;
	width: auto;
	margin: 10px;
} 

.names_of_users {
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: underline;	
}